//
//  Sprite sheet data for Amethyst Game Engine: https://www.amethyst.rs
//  This file was created by TexturePacker: https://www.codeandweb.com/texturepacker
//
//  $TexturePacker:SmartUpdate:cfa704e71515fd8b3ec34c9718a9aef6:3201d553ba2e1cc8dbdaa9f9163131ec:820f3df8d202318f1b85bfbf399e559f$
//

#![enable(implicit_some)]
(
    texture_width: 96,
    texture_height: 26,
    sprites: [
        (
            // 0: 0.png
            x: 0,
            y: 0,
            width: 8,
            height: 26,
            offsets: (0, 0),
        ),
        (
            // 1: 1.png
            x: 24,
            y: 0,
            width: 8,
            height: 26,
            offsets: (0, 0),
        ),
        (
            // 2: 2.png
            x: 48,
            y: 0,
            width: 24,
            height: 26,
            offsets: (0, 0),
        ),
        (
            // 3: 3.png
            x: 72,
            y: 0,
            width: 24,
            height: 13,
            offsets: (0, 0),
        )
    ]
)

