//
//  Sprite sheet data for Amethyst Game Engine: https://www.amethyst.rs
//  This file was created by TexturePacker: https://www.codeandweb.com/texturepacker
//
//  $TexturePacker:SmartUpdate:d838990436ef190b4f9991430f5c0881:f66192f9604de379241e5f1404a3b200:a4cad101b715dd05b64b44d1348b0cf3$
//

#![enable(implicit_some)]
(
    texture_width: 124,
    texture_height: 30,
    sprites: [
        (
            // 0: background_purple.png
            x: 0,
            y: 0,
            width: 16,
            height: 29,
            offsets: (0, -0.5),
        ),
        (
            // 1: blue_left.png
            x: 16,
            y: 0,
            width: 16,
            height: 29,
            offsets: (0, -0.5),
        ),
        (
            // 2: blue_open_1.png
            x: 32,
            y: 0,
            width: 16,
            height: 30,
            offsets: (0, 0),
        ),
        (
            // 3: entry.png
            x: 48,
            y: 0,
            width: 8,
            height: 2,
            offsets: (0, 0),
        ),
        (
            // 4: red_left.png
            x: 56,
            y: 0,
            width: 16,
            height: 29,
            offsets: (0, -0.5),
        ),
        (
            // 5: red_open_1.png
            x: 72,
            y: 0,
            width: 16,
            height: 30,
            offsets: (0, 0),
        ),
        (
            // 6: red_open_2.png
            x: 88,
            y: 0,
            width: 15,
            height: 30,
            offsets: (-0.5, 0),
        ),
        (
            // 7: red_open_3.png
            x: 103,
            y: 0,
            width: 12,
            height: 30,
            offsets: (-2, 0),
        ),
        (
            // 8: red_open_4.png
            x: 115,
            y: 0,
            width: 9,
            height: 30,
            offsets: (-3.5, 0),
        )
    ]
)

