//
//  Sprite sheet data for Amethyst Game Engine: https://www.amethyst.rs
//  This file was created by TexturePacker: https://www.codeandweb.com/texturepacker
//
//  $TexturePacker:SmartUpdate:e11f4e9babef8a894781de1590be1bfa:cb43d9c0453157f47c8277937bc8ead2:df10fea214c88cf1e1ee6bbea92c6c24$
//

#![enable(implicit_some)]
(
    texture_width: 288,
    texture_height: 24,
    sprites: [
        (
            // 0: 00.png
            x: 0,
            y: 0,
            width: 10,
            height: 24,
            offsets: (0, 0),
        ),
        (
            // 1: 01.png
            x: 16,
            y: 0,
            width: 12,
            height: 24,
            offsets: (0, 0),
        ),
        (
            // 2: 02.png
            x: 32,
            y: 0,
            width: 11,
            height: 15,
            offsets: (0, 0),
        ),
        (
            // 3: 03.png
            x: 48,
            y: 0,
            width: 12,
            height: 22,
            offsets: (0, 0),
        ),
        (
            // 4: 04.png
            x: 64,
            y: 0,
            width: 13,
            height: 16,
            offsets: (0, 0),
        ),
        (
            // 5: 05.png
            x: 80,
            y: 0,
            width: 9,
            height: 16,
            offsets: (0, 0),
        ),
        (
            // 6: 06.png
            x: 96,
            y: 0,
            width: 10,
            height: 15,
            offsets: (0, 0),
        ),
        (
            // 7: 07.png
            x: 112,
            y: 0,
            width: 16,
            height: 16,
            offsets: (0, 0),
        ),
        (
            // 8: 08.png
            x: 128,
            y: 0,
            width: 16,
            height: 13,
            offsets: (0, 0),
        ),
        (
            // 9: 09.png
            x: 144,
            y: 0,
            width: 15,
            height: 15,
            offsets: (0, 0),
        ),
        (
            // 10: 10.png
            x: 160,
            y: 0,
            width: 16,
            height: 16,
            offsets: (0, 0),
        ),
        (
            // 11: 11.png
            x: 176,
            y: 0,
            width: 12,
            height: 24,
            offsets: (0, 0),
        ),
        (
            // 12: 12.png
            x: 192,
            y: 0,
            width: 12,
            height: 24,
            offsets: (0, 0),
        ),
        (
            // 13: 13.png
            x: 208,
            y: 0,
            width: 11,
            height: 15,
            offsets: (0, 0),
        ),
        (
            // 14: 14.png
            x: 224,
            y: 0,
            width: 13,
            height: 22,
            offsets: (0, 0),
        ),
        (
            // 15: 15.png
            x: 240,
            y: 0,
            width: 15,
            height: 16,
            offsets: (0, 0),
        ),
        (
            // 16: 16.png
            x: 256,
            y: 0,
            width: 16,
            height: 9,
            offsets: (0, 0),
        ),
        (
            // 17: 17.png
            x: 272,
            y: 0,
            width: 16,
            height: 9,
            offsets: (0, 0),
        )
    ]
)

