(
  axes: {
    "move": Emulated(pos: Key(Right), neg: Key(Left)),
  },
  actions: {
        "up": [
            [Key(Up)]
        ],
        "down": [
            [Key(Down)]
        ],
        "jump": [
            [Key(Z)]
        ],
        "shoot": [
            [Key(Space)]
        ]
    },
)