#![enable(implicit_some)]
Prefab(
    entities: [
        // Player
        PrefabEntity(
            data: AnimationPrefabData(
                // SpriteScenePrefab
                sprite_scene: (
                    // SpriteSheetPrefab with index 0
                    sheet: Sheet(
                        // TexturePrefab
                        texture: File("texture/guns.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
                                ),
                            ),
                        )),
                        // sprites
                        sprites: [
                            List((
                                texture_width: 125,
                                texture_height: 11,
                                sprites: [
                                    (
                                        // 0: 01.png
                                        x: 1,
                                        y: 1,
                                        width: 16,
                                        height: 9,
                                        offsets: (0, 0),
                                    ),
                                    (
                                        // 1: 02.png
                                        x: 19,
                                        y: 1,
                                        width: 16,
                                        height: 9,
                                        offsets: (0, 0),
                                    ),
                                    (
                                        // 2: 03.png
                                        x: 91,
                                        y: 1,
                                        width: 8,
                                        height: 7,
                                        offsets: (0, 1),
                                    ),
                                    (
                                        // 3: 04.png
                                        x: 37,
                                        y: 1,
                                        width: 16,
                                        height: 9,
                                        offsets: (0, 0),
                                    ),
                                    (
                                        // 4: 05.png
                                        x: 101,
                                        y: 1,
                                        width: 8,
                                        height: 7,
                                        offsets: (0, 1),
                                    ),
                                    (
                                        // 5: 06.png
                                        x: 55,
                                        y: 1,
                                        width: 16,
                                        height: 9,
                                        offsets: (0, 0),
                                    ),
                                    (
                                        // 6: 07.png
                                        x: 111,
                                        y: 1,
                                        width: 8,
                                        height: 6,
                                        offsets: (0, 0.5),
                                    ),
                                    (
                                        // 7: 08.png
                                        x: 73,
                                        y: 1,
                                        width: 16,
                                        height: 8,
                                        offsets: (0, -0.5),
                                    ),
                                    (
                                        // 8: blank.png
                                        x: 121,
                                        y: 1,
                                        width: 3,
                                        height: 3,
                                        offsets: (2.5, -3),
                                    )
                                ]
                            ))
                        ],
                        // optional
                        name: "gun",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "gun",
                        sprite_number: 0,
                    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            // AnimationId
                            PersonShoot,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 10.0],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [1, 1],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            PersonJumpShoot,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.2],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [1, 1],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                        (
                            // AnimationId
                            Holster,
                            (
                                samplers: [
                                    (
                                        0,
                                        // Only SpriteIndex channel allowed for SpriteRender in AnimationSetPrefab
                                        SpriteIndex,
                                        (
                                            // Time of key frames
                                            input: [0.0, 0.2],
                                            // Sprite indexes from SpriteSheet for key frames
                                            output: [8, 8],
                                            // Sprites can only ever be animated with Step
                                            function: Step,
                                        ),
                                    ),
                                ],
                            ),
                        ),
                    ],
                ),
            ),
        ),
    ],
)